/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .header{
        background:#fcdb00;
        padding: 10px 0;
    }
    .my-menu ul{
        text-align: right;
    }
    .my-menu ul li a {
        margin:5px 0;
        font-size: 20px;  
     }
     /* slider css */
     .slider {
        background: #fcdb00;
        padding: 0px 0 65px;
    }
     .custom-indicator {
        bottom: -65px;
    }
     .slider-left-text{
        margin-top: 10px;
    }
    .slider-s-store ul li i {
        margin-right: 10px;
        font-size: 34px;
        transition: .4s;
        cursor: pointer;
    }
    .slider-s-store{
        margin-top: 20px !important;
    }
     /* feature media css start */
     .features{
        padding-top: 40px;
        padding-bottom:60px;
    }
     .feature-item{
        margin-top: 30px;
        text-align: center !important;
    }
    .f-icon{
        text-align: center !important;
        margin-bottom: 5px;
    }
    .f-text{
        text-align: center;
    }
    .f-default-title p {
        font-size: 17px;
    }

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .my-menu ul{
        text-align: right;
    }
    .my-menu ul li a {
        margin:5px 0;
        font-size: 20px; 
     }
     .slider-left-text{
        margin-top: 20px;
    }
    .slider-s-store ul li i {
        margin-right: 10px;
        font-size: 34px;
        transition: .4s;
        cursor: pointer;
    }
    /* feature media css start */
    .features{
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .feature-item{
        margin-top: 40px;
        text-align: center !important;
    }
    .f-icon{
        text-align: center !important;
        margin-bottom: 6px;
    }
    .f-text{
        text-align: center;
    }
    /* feature media css end */
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   /* header menu media css */
.my-menu ul{
    text-align: right;
}
.my-menu ul li a {
	margin:6px 0;
	
 }
 /* slider start */
 .slider-left-text{
    margin-top: 50px;
}
/* feature media css start */
.features{
    padding-top: 80px;
    padding-bottom: 100px;
}
.feature-item{
    margin-top: 40px;
}
/* feature media css end */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
   
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }